/* Normalizar */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--cor-branco-fixo);
}

body {
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-color: var(--cor-fundo-tela);
  -webkit-text-size-adjust: none;
	touch-action: pan-x pan-y;
}

body.bloquear {
  overflow: hidden;
}

::selection {
  color: var(--cor-branco-fixo);
  background-color: var(--cor-selecao-escuro);
}

a,img,svg,button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
  -webkit-appearance: none !important;
}

button, a, input, textarea {
  cursor: pointer !important;
}

a {
  background-color: transparent;
  cursor: pointer;
}

img {
  border-style: none;
}

button {
  font-family: inherit;
  line-height: 1;
  margin: 0;
  -moz-appearance: none !important;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  cursor: pointer;
}

button * {
  pointer-events: none;
}

input {
  font-family: inherit;
  line-height: 1;
  -moz-appearance: none !important;
  overflow: visible;
}

textarea {
  font-family: inherit;
  line-height: 1;
  -moz-appearance: none !important;
  overflow: auto;
}

[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  border-style: none;
}

[hidden] {
  display: none;
  opacity: 0;
  visibility: hidden;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px var(--cor-input-fundo) inset !important;
  border: 2px solid transparent !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--cor-input-branco) !important;
}

input[type="date"] {
  min-width: calc(100% - 24px);
}
